
<nav class="navbar">
<h2 class = "logo">Travelap <em> - Where are you going to go?</em></h2>

<ul class="nav-links">
<li class="nav-item"><a href='/'>Home </a></li>
<li class="nav-item"><a href='/countries/visited'>Countries I have Visited </a></li>
<li class="nav-item"><a href='/countries/not_visited'>Countries I have not Visited</a></li>
<li class="nav-item"><a href='/countries/new_country'>Add new Country</a></li>
</ul>
</nav>

<h2 class="logo">Edit <%= @site.name.capitalize%></h2>

<form method="POST" action="/sites/<%= @site.id %>/edit">
  <div class="form-wrap">

    <div>
      <label for="name">Site Name:</label>
      <input required type="text" name="name" minlength="2" id="site_name" value="<%= @site.name %>"/>
    </div>

    <div>
      <label for="visited">Visited:</label>
      <select required type="boolean" name="visited" id="visited">
        <option value=<%= true %>>visited</option>
        <option value=<%= false %>>Not visited</option>
      </select>
    </div>

    <div >
      <input type="submit" value="Edit site"/>
    </div>
    </div>
</form>

<form action="/sites/<%= @site.id %>/delete" method="POST">
  <div class="form-wrap">
  <input type="submit" value="Delete site">
  </div>
</form>
