
<nav class="navbar">
<h2 class = "logo">Travelap <em> - Where are you going to go?</em></h2>

<ul class="nav-links">
<li class="nav-item"><a href='/'>Home </a></li>
<li class="nav-item"><a href='/countries/visited'>Countries I have Visited </a></li>
<li class="nav-item"><a href='/countries/not_visited'>Countries I have not Visited</a></li>
</ul>
</nav>

<h1>Cities in <%= @country.name.capitalize %></h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>visited</th>
  </tr>
  <%city_list = @country.cities  %>
<% city_list.each do |city| %>
<tr>
  <td><%= city.name.capitalize %></td>
  <td>|</td>
  <td><% if (city.visited) == "t" %>
          <p>Yes</p>
          <%end%>
          <% if city.visited == "f"%>
          <p>Not yet</p>
          <%end%>
  </td>
  <td>|</td>
  <td><a href="/cities/<%= city.id  %>/edit"> Edit city</a></td>Î
  <td>|</td>
  <td><a href="/cities/<%= city.id  %>/edit_site"> Tourist Sites in city</a></td>
</tr>
  <% end %>
</table>

<div class="menu-item">
  <a href='/cities/new_city/<%= @country.id %>'>Add new City</a>
</div>
