<nav class="navbar">
<h2 class = "logo">Travelap <em> - Where are you going to go?</em></h2>

<ul class="nav-links">
  <li class="nav-item"><a href='/'>Home </a></li>
<li class="nav-item"><a href='/countries/visited'>Countries I have Visited </a></li>
<li class="nav-item"><a href='/countries/not_visited'>Countries I have not Visited</a></li>
</ul>
</nav>

<h2 class="heading">Edit <%= @country.name.capitalize%></h2>

<form method="POST" action="/countries/visited/<%= @country.id %>">
  <div class="form-wrap">

    <div>
      <label for="name">Country Name:</label>
      <input required type="text" name="name" minlength="2" id="country_name" value="<%= @country.name %>"/>
    </div>

    <div>
      <label for="visited">Visited:</label>
      <select required type="boolean" name="visited" id="visited">
        <option value=<%= true %>>visited</option>
        <option value=<%= false %>>Not visited</option>
      </select>
    </div>

    <div >
      <input type="submit" value="Edit country"/>
    </div>
    </div>
</form>

<form action="/countries/visited/<%= @country.id %>/delete" method="POST">
<div class="form-wrap">
  <input type="submit" value="Delete country">
</div>
</form>
