
<li class="menu-item"><a href='/'>Home </a></li>

<h2>Edit <%= @country.name %></h2>

<form method="POST" action="/countries/visited/<%= @country.id %>">
  <div class="form-wrap">

    <div>
      <label for="name">Country Name:</label>
      <input type="text" name="name" minlength="2" id="country_name" value="<%= @country.name %>"/>
    </div>

    <div>
      <label for="visited">Visited:</label>
      <select required type="boolean" name="visited" id="visited">
        <option value=<%= true %>>visited</option>
        <option value=<%= false %>>Not visited</option>
      </select>
    </div>

    <div >
      <input type="submit" value="Edit country"/>
    </div>
    </div>
</form>
